@import "config";

body {
  box-sizing: border-box;
  font-family: $base-font-family;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: $font-size-default;
  background-color: $bg-color-1;
  color: $base-font-color;

  & * {
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text-headers;
  line-height: normal;
}

a {
  text-decoration: none;
  color: $color-secondary;
}
