@import "config";

body {
  box-sizing: border-box;
  font-family: $base-font-family;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: $font-size-default;
  background-color: $bg-color-1;

  & * {
    box-sizing: border-box;
  }
}
