@import "~susy/sass/susy";
@import "~bourbon/app/assets/stylesheets/settings/px-to-em";
@import "~bourbon/app/assets/stylesheets/functions/strip-units";
@import "~bourbon/app/assets/stylesheets/functions/px-to-rem";

/*
 * Configuring grid
 */

$large-screen: 1400px;
$middle-screen: 800px;
$small-screen: 320px;

$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 1040px,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box
);

@include border-box-sizing;

/*
 * Configuring project settings
 */

// Colors
$white: #fff;
$dark-pink: #c32d7b;

// Theme
$base-bg-color: $white;

// Text
$base-font-color: $dark-pink;
$base-font-family: Lato, Helvetica, Arial, sans;
$base-line-height: 1.5;
