.l-container {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
}

.l-section {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;

  header h1 {
    margin: 0;
    margin-bottom: 30px;
  }

  &.-bg {
    background-size: cover;
    background-position: center;
  }

  &.-header { padding-bottom: 0; }

  &.-light * { color: $color-white; }

  &.-bg-grey { background-color: $pale-grey; }
  &.-bg-dark { background-color: $color-black; }
  &.-bg-light { background-color: $color-white; }
}
