@import "../../../styles/config";

// Type
.c-legend-type {
  .type {
    margin: 8px 0 0;

    // CHOROPLETH
    &.-choropleth {
      .type-list {
        display: flex;

        .type-list-item {
          .color {
            display: block;
            height: 7px;
            border-top: 1px solid $color-black;
            border-bottom: 1px solid $color-black;
          }

          .value {
            display: block;
            margin: 3px 5px 0 0;
            line-height: 1.25;
            color: $color-white;
            font-size: 11px;
            font-weight: 400;
          }

          &:first-child {
            .color {
              border-left: 1px solid $color-black;
            }
          }
          &:last-child {
            .color {
              border-right: 1px solid $color-black;
            }
          }
        }
      }
    }

    &.-gradient {
      .type-list {
        display: flex;
        justify-content: space-between;

        .type-list-item {
          .color {
            display: block;
            height: 7px;
            border-top: 1px solid $color-black;
            border-bottom: 1px solid $color-black;
          }

          .value {
            display: block;
            margin: 3px 3px 0;
            line-height: 1.25;
            color: $color-white;
            font-size: 11px;
            font-weight: 400;
          }

          &:first-child {
            .color {
              border-left: 1px solid $color-black;
            }
          }
          &:last-child {
            .color {
              border-right: 1px solid $color-black;
            }
          }
        }
      }
    }


    // BASIC
    &.-basic {
      .type-list {

        .type-list-item {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;

          .color {
            display: block;
            height: 7px;
            width: 7px;
            border: 1px solid $color-black;
            margin: 5px 2px 0 0;
          }

          .name {
            display: block;
            margin: 3px 3px 0;
            line-height: 1.25;
            color: $color-white;
            font-size: 11px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
