@import "../../../styles/config";

.c-button {
  color: $color-dark-pink;
  -webkit-appearance: none;
  border: 0;
  border-radius: 4px;
  height: 35px;
  padding: 0 20px;
  background-color: $color-white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);

  &:focus {
    outline: none;
  }
}
