@import "../../../styles/config";

.c-button {
  appearance: none;
  display: inline-block;
  margin: 0;
  padding: rem(8px);
  border: 1px solid transparent;
  border-radius: 4px;
  background: none;
  outline: none;
  text-transform: uppercase;
  font-size: rem(12px);
  font-weight: $font-weight-bold;
  letter-spacing: rem(0.8px);
  cursor: pointer;

  // Types
  &.-primary {
    color: $color-text-2;
    background: $color-grey;
    border-color: $border-color-1;

    // States
    &:hover {
      color: $color-white;
      background: $color-primary;
    }

    &.-active {
      background: $color-green;
      color: $color-white;

      &:hover {
        background: darken($color-green, 10%);
      }
    }

    &.-disabled {
      background: $color-white;
      border-color: $border-color-1;
      color: $color-text-2;
      cursor: default;
    }
  }

  &.-secondary {

  }

  // Helpers
  &.-fullwidth {
    width: 100%;
  }
}
