@import "../../../styles/config";

.c-dataset-list {
  > .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    > .list-item {
      display: flex;
      flex-direction: column;
      width: span(4);
      margin-right: gutter();

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(n + 4) {
        margin-top: gutter();
      }
    }
  }
}
