@import "../../../styles/config";

$footer-main-height: rem(100);
$footer-secondary-height: rem(30);

.c-footer {
  .footer-intro {
    border-top: 1px solid $border-color-1;
    padding: 35px 0;
  }

  .footer-main {
    border-top: 1px solid $border-color-1;
    padding: rem(32) 0 rem(50);
  }
}
