@import "../../../styles/config";

.c-title {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  // Sizes
  &.-default {
    font-size: 16px;
    font-weight: $font-weight-bold;
  }

  &.-huge {
    font-size: 48px;
    font-weight: $font-weight-light;
  }

  // Colors
  &.-primary {
    color: $color-text-1;
  }

  &.-secondary {
    color: $color-secondary;
  }

}
