<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Resource Watch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Lato:400,300,700">
  </head>
  <body>
    <%= require('raw!./icons/logo.html') %>
    <%= require('raw!./icons/symbol-defs.html') %>
    <!-- Application -->
    <div id="app"></div>
  </body>
</html>
