.p-about {
  // Page banners backgrounds
  .c-banner {
    &.intro {
      background-image: url('../images/backgrounds/california-01@2x.jpg');
      background-position: top center;
  }

    &.partners {
      background-image: url('../images/backgrounds/partners-02@2x.jpg');
      background-position: top center;
    }
  }
}
