
.p-contribute-data {
  // Page banners backgrounds
  .c-banner {
    &.intro {
      background: url("/images/backgrounds/polar.png") no-repeat;
      background-position: center;
      background-size: cover;
  }

    &.partners {
      background-image: url('/images/backgrounds/partners-02@2x.png');
      background-position: top center;
    }
  }
}