
.p-submit-insight {
  // Page banners backgrounds
  .c-banner {
    &.intro {
      background: url('/images/backgrounds/jellyfish.jpg');
      background-position: center;
  }

    &.partners {
      background-image: url('/images/backgrounds/partners-02@2x.png');
      background-position: top center;
    }
  }
}