@import "../../../styles/config";

.l-container {
}

article,
.block {

}

.block {
  padding: 0 45px;
  text-align: center;
  margin-bottom: 160px;

  .logo-container {
    height: 70px;
  }

  .desc {
    margin-bottom: 30px;
  }
}
