@import "../../../styles/config";

.c-page-explore-detail {

  padding-top: 28px;

  .title {
    margin-top: 35px;
  }

  .widget-chart {

    position:relative;
    margin-top: 30px;
    width: 100%;

    //temporal
    min-height: 300px;
    background: #34B7DA;

    button {
      position: absolute;
      top: 16px;
      right: 16px;
      text-align: center;
      fill: $color-white;
      color: $color-white;
    }

    .dropdown {
      position: absolute;
      top: 15px!important;
      min-width: 100px;
      min-height: 100px;
      background: $color-white;
    }

  }

  .description-row {

    margin-top: 48px;

    .actions {
      button {
        min-width: 224px;
        min-height: 45px;

        &:last-of-type {
          margin-top: 15px;
        }
      }
    }
  }

}
